body, html {
	height: 100%;
}

body {
	background-color: black;
    display: table-cell;
    vertical-align: middle;
}

html {
    display: table;
    margin: auto;
}

#images {
	padding-top: 30px;
	width: fit-content;
	margin: 0 auto;
}

img {
	width: 15rem;
	border-radius: 0.5rem;
	background-color: white;
}

#randomize {
	margin: 0 auto;
	display: block;
}

#images img {
	background-color: #c4c4c4;
}

#randomize {
	background-color: #04AA6D;
	border: none;
	outline: none;
	color: white;
	padding: 50px 90px;
	text-align: center;
	text-decoration: none;
	font-size: 34px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 8px #999;
	border-radius: 12px;
}

#randomize:hover {
	background-color: #3e8e41
}

#randomize:active {
  background-color: #3e8e41;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}